.compression {
    background-color: blue;
}

.freq-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.freq-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.freq-button:hover {
    background-color: #0056b3;
}
.freq-button.selected {
    background-color: #28a745;
}