{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<main>
    <h1>Compresser Audio</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Téléversez un audio et cliquez sur compresser !</h4>
        <div class="form-inline">
           <span class="input_btn" >
            <input type="file" id="audio_file" name="audio_file" accept=".wav" required>
            <button type="submit" class="btn">
                Compresser <i class="fas fa-arrow-right"></i>
            </button>
        </span>
        </div>
        
        <div class="options">
            <h4>
                <i class="fas fa-cogs" style="font-size: 20px; margin-right: 8px;"></i>
                OPTIONS
            </h4>
            <p>Configurer ces options est facultatif. Les valeurs par défaut conviennent dans la plupart des cas.</p>
            
            <div class"format_audio">
                <div class="aselect-container">
                    <label for="output_format">Format du fichier de sortie :</label>
                    <select id="output_format" name="output_format">
                        <option value="WAV">WAV</option>
                        <option value="MP3">MP3</option>
                    </select>
                </div>
            </div>

            <div class="freq-radios">
                <h3>Fréquence de coupure :</h3>
                <label>
                    <input type="radio" name="cutoff_frequency" value="1000" {% if default_frequency == 1000 %}checked{% endif %}>
                    1000 Hz
                </label>
                <label>
                    <input type="radio" name="cutoff_frequency" value="4000" {% if default_frequency == 2000 %}checked{% endif %}>
                    4000 Hz
                </label>
                <label>
                    <input type="radio" name="cutoff_frequency" value="8000" {% if default_frequency == 3000 %}checked{% endif %}>
                    8000 Hz
                </label>                <label>
                    <input type="radio" name="cutoff_frequency" value="12000" {% if default_frequency == 3000 %}checked{% endif %}>
                    12000 Hz
                </label>                <label>
                    <input type="radio" name="cutoff_frequency" value="16000" {% if default_frequency == 3000 %}checked{% endif %}>
                    16000 Hz
                </label>
            </div>
        </div>
    </form>
</main>
{% endblock %}
