{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <h1 class="text-center compression">Compression Audio</h1>

    <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="audio_file">Choisir un fichier audio :</label>
        <input type="file" id="audio_file" name="audio_file" accept=".wav" required>
        <button type="submit">Compresser</button>
    </form>

    {% if compression_info %}
    <div class="text-center">
        <h2>Informations de compression :</h2>
        <p>Taille initiale : {{ compression_info.original_size|bytes_to_mb }} MB</p>
        <p>Taille finale : {{ compression_info.filtered_size|bytes_to_mb }} MB</p>
        <p>Pourcentage de compression : {{ compression_info.compression_ratio|floatformat:2 }}%</p>
        
        <h3>Audio original :</h3>
        <audio controls>
            <source src="{{ original_file_url }}" type="audio/wav">
            Votre navigateur ne supporte pas la lecture audio.
        </audio>
        

        <h3>Audio compressé :</h3>
        <audio controls>
            <source src="{{ compressed_file_url }}" type="audio/wav">
            Votre navigateur ne supporte pas la lecture audio.
        </audio>
        
        <a href="{{ compressed_file_url }}" class="btn btn-success" download>Télécharger le fichier compressé</a>
    </div>
    {% endif %}
{% endblock %}
