<footer>
    <div class="d-flex justify-content-around px-5 py-3">
        <div  class="footer_l">2025 AudioManip - Créé avec passion pour les necessiteux.</div>
        <div class="footer_r d-flex justify-content-around">
            <div><a class="link-underline link-underline-opacity-0" href="">Avis</a></div>
            <div><a class="link-underline link-underline-opacity-0" href="">Conditions d'utilisation</a></div>
            <div><a class="link-underline link-underline-opacity-0" href="">Mentions légales</a></div>
            <div><a class="link-underline link-underline-opacity-0" href="">Nous contacter</a></div>
        </div>
    </div>
</footer>